<div class="secciones-botones">
    <button type="button" (click)="verifyUser('/teams')" routerLinkActive="active" class="button1">Equipos</button>
    <button type="button" (click)="verifyUser('/players')" routerLinkActive="active" class="button2">Jugadores</button>
    <button type="button" (click)="verifyUser('/results')" routerLinkActive="active" class="button3">Resultados</button>
    <button type="button" [routerLink]="['/aboutUs']" routerLinkActive="active" class="button4">Sobre Nosotros</button>
  </div>
  