.favListContainer{
    left: 0;
    right: 0;
    bottom: 0;
    top: 9rem;
    position: absolute;
    border: 2px solid white; 
    padding-left: 20px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    
}

.teamLogo {
  max-width: 5%;
  height: auto;
  display: flexbox;
  margin-right: 2rem;
}

.favteam-item {
    list-style: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
  }
  .favteam-item2 {
    list-style: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800;
    color: white;
  }
  
    .favteam-name {
      flex-grow: 1;
      margin-right: 10px;
    }
    
    .favteam-item div {
      color: white; 
    }
    
    .favTeamBotonFav {
  
      cursor: pointer;
      width: 50px;
      height: 50px;
        
    }