<div  class="favListContainer"  style="color: white;">
    <ul>
        <li *ngFor="let favoriteTeam of favoriteList" class="favteam-item">
            <div class="favteam-name" (click)="showAtributesFavTeam(favoriteTeam)" style="cursor: pointer;">
                {{favoriteTeam.full_name}}
            </div>
            <div *ngIf="select==favoriteTeam && atribute">

                <p><strong>Ciudad:</strong> {{favoriteTeam.city || "No hay datos"}}</p>
                <p><strong>Conferencia:</strong> {{favoriteTeam.conference || "No hay datos"}}</p>
                <p><strong>División:</strong> {{favoriteTeam.division || "No hay datos"}}</p>
            
            </div> 
            <ng-container *ngIf="searchTeam(favoriteTeam); else notFavoriteImage">
                <img src="../../../assets/EstrellaBlanca.jpg" alt="Agregar lista de favoritos" class="favTeamBotonFav" (click)="addRemoveTeamList(favoriteTeam)">
            </ng-container>

            <ng-template #notFavoriteImage>
                <img src="../../../assets/EstrellaNegra.jpg" alt="No en lista de favoritos" class="favTeamBotonFav" (click)="addRemoveTeamList(favoriteTeam)">
            </ng-template>
        </li>
    </ul>

    <p *ngIf="favoriteList.length === 0" style="color: white; font-weight: bold; font-size: 1.5rem;">Tu lista de favoritos esta vacia!</p>

</div>
