<div class="playersContainer">
  <ul>
    <li>
      <button class="favorite-button" [routerLink]="['/favourite-list-pla']" routerLinkActive="active">Lista de favoritos</button>
    </li>
  </ul>

  <div class="search-container">
    <input type="text" id="search-input" placeholder="Buscar jugadores..." (input)="filterPlayers($event)">
    <ul id="results-list" class="results-list"></ul>
  </div>

  <ul>
    <li *ngFor="let player of playersList" class="player-item">
      <ng-container *ngIf="isKnownPlayer(player)">
        
        <img class="PlayerLogo" [src]="getPlayerImage(player)" alt="Imagen de jugador" >
      </ng-container>
      <ng-container *ngIf="!isKnownPlayer(player)">
        
        <img src="../../../assets/players/ImagenJugadoresGene.webp" alt="Imagen genérica" class="PlayerLogo" >
      </ng-container>
  

      <div class="player-name" (click)="showAtributes(player)" style="cursor: pointer; ">
        {{ player.first_name + ' ' + player.last_name }}
      </div>

      <div *ngIf="select==player && atribute" >
        <div *ngIf="seasonAverages && seasonAverages.data && seasonAverages.data.length > 0 else noData" >
          <div class="estadisticas">
            <h3>Ultima Temporada: <span> {{ seasonAverages.data[0].season || "------------------" }}</span></h3>
            <p><strong>Partidos jugados:</strong> <span>{{ seasonAverages.data[0].games_played|| "------------------" }}</span></p>
            <p><strong>Minutos:</strong> <span>{{ seasonAverages.data[0].min||"------------------" }}</span></p>
            <p><strong>Puntos:</strong> <span>{{ seasonAverages.data[0].pts|| "------------------" }}</span></p>
            <p><strong>Asistencias:</strong> <span>{{ seasonAverages.data[0].ast|| "------------------" }}</span></p>
            <p><strong>Rebotes:</strong> <span>{{ seasonAverages.data[0].reb|| "------------------" }}</span></p>
            <p><strong>Bloqueos:</strong> <span>{{ seasonAverages.data[0].stl|| "------------------" }}</span></p>
          </div>
          
          <div class="datosPersonales">
            <p><strong>Posición:</strong> {{player.position || "------------------"}}</p>
            <p><strong>Altura en pies:</strong> {{player.height_feet || "------------------"}}</p>
            <p><strong>Peso en libras:</strong> {{player.weight_pounds || "------------------"}}</p>
            <button type="button" id="teamNav" (click)="goToTeam(player.team.id)"><strong>Equipo:</strong> {{player.team.full_name || "------------------"}}</button>
           
          </div>
          
        </div>

        <ng-template #noData>

        </ng-template>

      
        </div>
      

      <ng-container *ngIf="searchPlayer(player); else notFavoriteImage">
        <img src="../../../assets/EstrellaBlanca.jpg" alt="Agregar lista de favoritos" class="botonfav" (click)="addRemovePlayerList(player)">
      </ng-container>
      <ng-template #notFavoriteImage>
        <img src="../../../assets/EstrellaNegra.jpg" alt="No en lista de favoritos" class="botonfav" (click)="addRemovePlayerList(player)">
      </ng-template>
    </li>
  </ul>

  <div class="backNextContainer">
    <button class="back" (click)="backPage()" *ngIf="!isFirstPage"> Back</button>
    <button class="next" (click)="nextPage()" *ngIf="!isLastPage">Next</button>
  </div>
</div>
