<div class="playersContainer">
    <ul>
        <li>
            <button class="favorite-button" [routerLink]="['/favourite-list-pla']" routerLinkActive="active">Lista de favoritos</button>
        </li>
    </ul>
    <ul>
        <li *ngFor="let player of playersList" class="player-item">
            <div class="player-name" (click)="showAtributes(player)" style="cursor: pointer;">
                {{ player.first_name + ' ' + player.last_name }}
            </div>
            <div *ngIf="select==player && atribute">

                <p><strong>Posición:</strong> {{player.position || "No hay datos"}}</p>
                <p><strong>Altura en pies:</strong> {{player.height_feet || "No hay datos"}}</p>
                <p><strong>Altura en pulgadas:</strong> {{player.height_inches || "No hay datos"}}</p>
                <p><strong>Peso en libras:</strong> {{player.weight_pounds || "No hay datos"}}</p>


                <p><strong>Equipo:</strong> {{player.team.full_name || "No hay datos"}}</p>
                <p><strong>Ciudad:</strong> {{player.team.city || "No hay datos"}}</p>
                <p><strong>Conferencia:</strong> {{player.team.conference || "No hay datos"}}</p>
                <p><strong>División:</strong> {{player.team.division || "No hay datos"}}</p>
                <p><strong>Nombre:</strong> {{player.team.name || "No hay datos"}}</p>
            </div>
            <ng-container *ngIf="searchPlayer(player); else notFavoriteImage">
                <img src="../../../assets/EstrellaBlanca.jpg" alt="Agregar lista de favoritos" class="botonfav" (click)="addRemovePlayerList(player)">
            </ng-container>
            <ng-template #notFavoriteImage>
                <img src="../../../assets/EstrellaNegra.jpg" alt="No en lista de favoritos" class="botonfav" (click)="addRemovePlayerList(player)">
            </ng-template>
        </li>
    </ul>

    <!-- <ul>
        <li>
            <button [routerLink]="['/favourite-list-pla']" routerLinkActive="active">Lista de favoritos</button>
        </li>
    </ul> -->
</div>


