.team-item {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px; 
  }
  
  .team-item div {
    color: white; 
  }
  
  .team-item button {
    color: white; 
  }