
.secciones-botones {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    overflow-y: auto;
} 

.secciones-botones button{
    width: 75%;
    height: calc(100vh - 80px);
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid white;
    border-radius: 0px;
    background-size: cover;
    color: white;
    cursor: pointer;
    font-size: 19px; 
    font-weight: bold; 
    text-align: center; 
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    overflow-y: auto;
}


.button1 {
    background-image: url('EquiposImage.jpg');
    background-size: cover;
}

.button2 {
    background-image: url('JugadoresImagen.jpg');
    background-size: cover;
    
}

.button3 {
    background-image: url('ResultadoImagen.jpg');
    background-size: cover;
}

.button4 {
    background-image: url('SobreNosotrosImage.jpg');
    background-size: cover;
}

.button1, .button2, .button3, .button4 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    cursor: pointer;
    overflow-y: auto;
}