<div class="favListPlayerContainer" style="color: white;">
  <ul>
    <li *ngFor="let favoritePlayer of favoriteList" class="favplayer-item">
      <div class="favplayer-name" (click)="showAtributes(favoritePlayer)" style="cursor: pointer;">
        <ng-container *ngIf="isKnownPlayer(favoritePlayer)">
          <img class="PlayerLogoFav" [src]="getPlayerImage(favoritePlayer)" alt="Imagen de jugador">
        </ng-container>
        <ng-container *ngIf="!isKnownPlayer(favoritePlayer)">
          <img src="../../../assets/players/ImagenJugadoresGene.webp" alt="Imagen genérica" class="PlayerLogoFav">
        </ng-container>
        {{ favoritePlayer.first_name + ' ' + favoritePlayer.last_name }}
      </div>

      <div *ngIf="select == favoritePlayer && atribute">
        <div *ngIf="seasonAverages && seasonAverages.data && seasonAverages.data.length > 0; else noData">
          <h3>Última Temporada: {{ seasonAverages.data[0].season || "No hay datos" }}</h3>
          <p><strong>Partidos jugados:</strong> {{ seasonAverages.data[0].games_played || "No hay datos" }}</p>
          <p><strong>Minutos:</strong> {{ seasonAverages.data[0].min || "No hay datos" }}</p>
          <p><strong>Puntos:</strong> {{ seasonAverages.data[0].pts || "No hay datos" }}</p>
          <p><strong>Asistencias:</strong> {{ seasonAverages.data[0].ast || "No hay datos" }}</p>
          <p><strong>Rebotes:</strong> {{ seasonAverages.data[0].reb || "No hay datos" }}</p>
          <p><strong>Bloqueos:</strong> {{ seasonAverages.data[0].stl || "No hay datos" }}</p>
        </div>
        <ng-template #noData></ng-template>
        <p><strong>Posición:</strong> {{ favoritePlayer.position || "No hay datos"}} </p>
        <p><strong>Altura:</strong> {{ favoritePlayer.height || "No hay datos"}} </p>
        <p><strong>Peso:</strong> {{ favoritePlayer.weight  || "No hay datos"}} </p>
        <p><strong>Número de camiseta:</strong> {{ favoritePlayer.jersey_number || "No hay datos" }}</p>
        <p><strong>Universidad:</strong> {{ favoritePlayer.college || "No hay datos" }}</p>
        <p><strong>País:</strong> {{ favoritePlayer.country || "No hay datos" }}</p>
        <p><strong>Año de draft:</strong> {{ favoritePlayer.draft_year || "No hay datos" }}</p>
        <p><strong>Ronda de draft:</strong> {{ favoritePlayer.draft_round || "No hay datos" }}</p>
        <p><strong>Número de draft:</strong> {{ favoritePlayer.draft_number || "No hay datos" }}</p>
        <button type="button" id="teamNav" (click)="goToTeam(favoritePlayer.team.id)"><strong>Equipo:</strong> {{ favoritePlayer.team.full_name || "------------------"}}</button>
      </div>

      <ng-container *ngIf="searchPlayer(favoritePlayer); else notFavoriteImage">
        <img src="../../../assets/EstrellaBlanca.jpg" alt="Agregar lista de favoritos" class="favBotonFav" (click)="addRemovePlayerList(favoritePlayer)">
      </ng-container>
      <ng-template #notFavoriteImage>
        <img src="../../../assets/EstrellaNegra.jpg" alt="No en lista de favoritos" class="favBotonFav" (click)="addRemovePlayerList(favoritePlayer)">
      </ng-template>
    </li>
  </ul>

  <p *ngIf="favoriteList.length === 0" style="color: white; font-weight: bold; font-size: 1.5rem;">¡Tu lista de favoritos está vacía!</p>
</div>
