
<div class="teamsContainer">
    <ul>
        <li *ngFor="let team of teamsList" class="team-item">
            <div class="team-name" (click)="showAtributes(team)" style="cursor: pointer;">
                {{ team.full_name }}
            </div>
            <div *ngIf="select==team && atribute">

                <p><strong>Abreviatura:</strong> {{team.abbreviation || "No hay datos"}}</p>
                <p><strong>Ciudad:</strong> {{team.city || "No hay datos"}}</p>
                <p><strong>Conferencia:</strong> {{team.conference || "No hay datos"}}</p>
                <p><strong>División:</strong> {{team.division || "No hay datos"}}</p>
                <p><strong>Nombre:</strong> {{team.name || "No hay datos"}}</p>
            </div>
            <ng-container *ngIf="searchTeam(team); else notFavoriteImage">
                <img src="../../../assets/EstrellaBlanca.jpg" alt="Agregar lista de favoritos" class="botonfav" (click)="addRemoveTeamList(team)">
            </ng-container>
            <ng-template #notFavoriteImage>
                <img src="../../../assets/EstrellaNegra.jpg" alt="No en lista de favoritos" class="botonfav" (click)="addRemoveTeamList(team)">
            </ng-template>
        </li>
    </ul>
    <ul>
        <li>
            <button [routerLink]="['/favourite-list']" routerLinkActive="active">Lista de favoritos</button>
        </li>
    </ul>
    

    </div>

  